*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  overflow-x:hidden;
} 

.home, .exp, .contact{
  background-color: #E5E5E5
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./img/bg-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.about{
  height: auto;
  width: auto;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

@media screen and (max-width: 768px) {
  .home{
    background-attachment: scroll;
  }
}